$TTL 86400
@ IN SOA green1.meher.tn.   root.green1.meher.tn.  (
                                         2024052001 ; serial 
                                         5H         ; refresh
                                         5H         ; retry
                                         1W         ; expire 
                                         5H         ; minimum 
             )
@  IN  NS  green1.meher.tn.
green1   IN  A  192.168.100.204 
